# TMDB API Configuration
NEXT_PUBLIC_TMDB_API_KEY=your_tmdb_api_key_here

# Custom API Configuration
# For local development: http://localhost:8080/v1
# For production: Use your server's public IP or domain
# Example: http://13.217.109.221:8080/v1 or https://api.yourdomain.com/v1
NEXT_PUBLIC_CUSTOM_API_URL=http://localhost:8080/v1

# S3 Image Base URL
NEXT_PUBLIC_CUSTOM_IMAGE_BASE_URL=https://bi8s.s3.us-east-1.amazonaws.com/
