@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-zinc-900 h-full overflow-x-hidden font-sans;

}

#__next{
  @apply h-full
}

html{
  @apply h-full
}

html::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

